@import url(reset.css);
@import url(normalize.css);
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #f3f3f3;
  --sub-color: #2c7dfa;

  --main-bg-color: #1e1f22;
  --sub-bg-color: #2b2c2f;

  --main-txt-color: #767e8b;

  --main-font: 'Raleway';
}

* {
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  font-family: var(--main-font);
  color: var(--main-color);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  border-bottom: 12px solid var(--sub-bg-color);
}

.header__logo {
  font-size: 20px;
}

.header__columns {
  display: flex;
  align-items: center;
}

.header__columns > span {
  margin: 0 8px;
  padding: 0 4px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: var(--sub-color);
  text-align: center;
  font-size: 16px;
}

.header__columns > button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  cursor: pointer;
}

.header__columns > button:disabled {
  color: var(--main-bg-color);
}

.header__columns > button.active {
  background-color: var(--sub-color);
}

.header__outline,
.header__dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__toggle {
  height: 0;
  width: 0;
  visibility: hidden;
}

.header__toggle + label {
  cursor: pointer;
  text-indent: -9999px;
  margin-left: 10px;
  width: 40px;
  height: 12px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.header__toggle + label:after {
  content: '';
  position: absolute;
  top: -4px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.header__toggle:checked + label {
  background: var(--sub-color);
}

.header__toggle:checked + label:after {
  left: 100%;
  transform: translateX(-100%);
}

main {
  padding: 40px;
}

.viewer__container {
  display: flex;
  justify-content: center;
}

.viewer__container > table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.viewer__container > table td {
  width: 400px;
}

.viewer__header__title > td {
  display: flex;
  justify-content: right;
  align-items: center;
  /* margin-bottom: 5px; */
  /* padding-left: 8px; */
}

.btn_clear {
  all: unset;
  background-color: transparent;
  color: var(--main-txt-color);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.viewer__header__text input {
  padding: 8px 14px;
  border-radius: 4px;
  border: 0;
  width: 100%;
  color: var(--main-txt-color);
}

.viewer__contents {
  margin: 10px 0;
}

.viewer__file__container {
}

.viewer__file__container input[type='file'] {
  display: none;
}

.viewer__file {
  display: block;
  padding: 10px 14px;
  background-color: var(--sub-color);
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.viewer__images {
  display: none;
  border-radius: 4px;
  height: 500px;
  background: #333437;
}

.viewer__total {
  display: none;
  text-align: right;
  color: var(--main-txt-color);
}

.viewer__total__number {
  margin-left: 4px;
  color: white;
}
